.navbar {
  top:2vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navbar img{
  height: 10vh;
  float:left;
}

.navfloat {
  float: left;
  padding-top: 2%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

@media screen and (max-width: 768px) {
  .navbar img {
    display: none;
  }
}

.static {
  position:absolute;
  background: black;
}

.static:hover {
  opacity:0;
}


* {box-sizing: border-box}
body {font-family:Georgia, serif; margin:0;background-color:black; }

.mySlides {
  display: none;
  height:70vh;
}

.mySlides img {
  vertical-align: middle;
  width: 100%;
  height: 100vh;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 220px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  height:20%;
  padding: 16px;
  padding-top:5% ;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* Position the "next button" to the right */
.next {
  height:20%;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.centered {font-size: 11px}
}

.centered { 
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -85%);
  color: white;
  background-color: rgba(18, 18, 18, 0.522);
  font-size: clamp(1.5rem,3vw,4rem);
}

.centered :first-child{
  margin-top: 0;
}

.foot{ /*footer background*/
  position:static;
  bottom:0;
  /* top:20vh; */
  width:100%;
  background-color: dimgray;
  color: white;
  padding-left: 10%;
}

.logo{ /*the logo for footer*/
  float:right;
  width:auto;
  height:60px;
  margin-right: 10%;
  overflow: hidden;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
}

.box {
  width: 50%;
  height:auto;
}

.grey{
  background-color: grey;
  color: white;
  font-size: 150%;
  left:10%;
}

.black{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 150%;
  width:100%;
}

.country{
  margin-top: 0;
  text-align: center;
}

.country h1{
  text-align: center;
  font-size: 200%;
}

.country p{
  /* text-align: left; */
  padding-left: 2%;
  padding-right: 2%;
}

.flag{
  width: 100%;
  height: 60vh;
}

.container2{
  display: flex;
  flex-wrap: wrap;
}

.container3{
  display: flex;
  flex-wrap: wrap;
  padding:0 3%;
}


.box2{
  width:33.33%;
}

.box3{
  width:25%;
}

.box4{
  width:100%;
  text-align: center;
}

.grey2{
  background-color: grey;
}

@media screen and (max-width: 768px) {
  .grey,.grey2{
    width: 100%;
  }
}



/*Tabs*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-left: 14%;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px 12px 0;
  color:white;
  bottom:0;
}

.tabimage{
  float:right;
  width:40%;
  height:40vh;
  padding-right: 30px;
}

.thehead{
  position: relative;
}


.thehead img{
  width:100%;
  height: 500px;;
  background-size: cover;
}

.text-block {
  position: absolute;
  top:5%;
  bottom: 20%;
  left:15%;
  right:20%;
  background-color: rgba(0, 0, 0, 0.315);
  color: white;
  height:min-content;
}


/* Dream car buttons and page */


.GTR {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.GTR button h1{
  text-align: center;
}

.GTR img{
  width:100%;
  padding:2% 3%;
  padding-bottom: 5%;
}


.EngineBtn{
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #555;
  color: white;
  padding:1%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:25%;
  height:95vh;
  text-align: center;
  font-size: clamp(0.3em,1.5vw,3rem);
}

.DimeBtn{
  position:absolute;
  top: 0%;
  left:25% ;
  background-color: #555;
  color: white;
  padding:1%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:25%;
  height:95vh;
  text-align: center;
  font-size: clamp(0.3em,1.5vw,3rem);

}

.WheelBtn{
  position: absolute;
  top: 0%;
  right: 25%;
  background-color: #555;
  color: white;
  padding:1%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:25%;
  height:95vh;
  text-align: center;
  font-size: clamp(0.3em,1.5vw,3rem);

}

.InteBtn{
  position: absolute;
  top: 0%;
  right:0%;
  background-color: #555;
  color: white;
  padding:1%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:25%;
  height:95vh;
  text-align: center;
  font-size: clamp(0.3em,1.5vw,3rem);

}

@media screen and (max-width: 540px) {
  .EngineBtn,.DimeBtn,.WheelBtn,.InteBtn{
    height:90%;
  }
}

#Wheels {
  display: none;
  height:150px;
  width:100%;
}

#Inte {
  display: none;
  height: 150px;
  width:100%;
}

#Dime{
  display: none;
  height: 150px;
  width:100%;
}

#Engine{
  display: none;
  height: 150px;
  width:100%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.image2 {
  position: absolute;
  top: 0;
  right:5%;
  width:100%;
}

#EngineTxt h3, #DimeTxt h3,#WheelTxt h3,#InteTxt h3{
 text-align: center;
}

#EngineTxt p, #DimeTxt p,#WheelTxt p,#InteTxt p{
  padding-top: 10px;
  text-align: center;
  font-size: 90%;
 }


@keyframes rotate {
from {
  transform: rotate(0deg);
}
to { 
  transform: rotate(360deg);
}
}

#TurboRotate{
  animation: blank;
}
